@use '../../../../assets/styles/variables' as *;

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .infoLabel {
    font-size: 13px;
    color: #64748b;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .infoValueWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .infoIcon {
      color: #64748b;
      font-size: 16px;
      display: flex;
      align-items: center;
    }

    .infoValue {
      font-size: 15px;
      color: #0f172a;
      font-weight: 600;
    }
  }
}
